<h1>Registrar Usuarios</h1>
<form action="/sessions/register" method="post">
  firstname:
  <input type="text" name="firstname" />
  <br />
  lastname:
  <input type="text" name="lastname" />
  <br />
  email:
  <input type="text" name="email" />
  <br />
  age:
  <input type="text" name="age" />
  <br />
  password:
  <input type="text" name="password" />
  <br />
  <input type="submit" value="Crear" />

</form>